<!DOCTYPE html>

<html>
<%- include ('../partials/head.ejs') %>
<link type="text/css" rel="stylesheet" href='/css/styles/editProfile.css' />

<body class="grey d-flex flex-column min-vh-100">
    <%- include ('../partials/navbar') %>
        <div class="container wrapper flex-grow-1 py-4">
            <% if(typeof errors != 'undefined'){ %>
            <% for(let i=0; i<errors.length; i++){ %>
            <div id="errors">
                <div class="card">
                    <div class="card-body danger-color">
                        <%= errors[i] %>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
            <% if(typeof success != 'undefined'){ %>
            <% for(let i=0; i<success.length; i++){ %>
            <div id="result">
                <div class="card">
                    <div class="card-body success-color">
                        <%= success[i] %>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
            <div class="row">
                <div class="col-12">
                    <!-- Tabs content -->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade shadow rounded text-white  show active p-5" id="v-pills-home"
                            role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-12">
                                    <a href="#" class="profile-pic">
                                        <div class="profile-pic"
                                            style="background-image: url('<%=   user.profileImg   %>')"
                                            onclick="select()" id="pictureProfile">
                                            <!-- <img class=" circle responsive-img" style="width: 25%;height: 100%;" src="/images/profile.jpg"> -->
                                            <span class="fa fa-camera"></span>
                                            <span class="lang" key="change-image">Change Image</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <form action="/users/upload" enctype="multipart/form-data" method="POST">
                                        <input type="file" class="file" id="profile" name="profile" accept="image/*"
                                        style="display:none;" onchange="displayProfile(this)" />
                                        <br>
                                        <button class="btn text-light mdb-color btn-rounded ml-2 lang" key="update">
                                            Update
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-12">
                                    <form class="form-horizontal" method="POST" action="/users/me">
                                        <label for="First_name" class="lang" key="first-name">First Name</label>
                                        <input type="text" class="form-control" id="First_name"
                                            value="<%= ( typeof user.firstname != 'undefined') ?  user.firstname  : '' %>"
                                            name="firstname">
                                        <br>
                                        <label for="Last_name" class="lang" key="last-name">Last Name</label>
                                        <input type="text" class="form-control" id="Last_name"
                                            value="<%= ( typeof user.lastname != 'undefined') ?  user.lastname  : '' %>"
                                            name="lastname">
                                        <br>
                                        <label for="Email" class="lang" key="email">Email</label>
                                        <input type="email" class="form-control" id="email"
                                            value="<%= ( typeof user.email != 'undefined') ?  user.email  : '' %>"
                                            name="email">
                                        <br>
                                        <label for="Username" class="lang" key="username">Username</label>
                                        <input type="text" class="form-control" id="username"
                                            value="<%= ( typeof user.username != 'undefined') ?  user.username  : '' %>"
                                            name="username">
                                        <br>
                                        <div class="input-field col s12">
                                            <select class="mdb-select md-form" name="language">
                                                <option value="en" <%= ( typeof user.language != 'undefined' && user.language == 'en') ? 'selected'  : '' %> class="lang" key="english">English</option>
                                                <option value="fr" <%= ( typeof user.language != 'undefined' && user.language == 'fr') ? 'selected'  : '' %> class="lang" key="french">French</option>
                                            </select>
                                        </div>
                                        <br>
                                        <button class="btn text-light mdb-color darken-3 btn-rounded lang"
                                            key="save-change"
                                            >
                                            Save Change
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include ('../partials/scripts.ejs') %>
    <script src="/js/editProfile.js"></script>
    <%- include ('../partials/footer.ejs') %>
</body>

</html>