<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles/homeStyle.css">
</head>

<body class="backStyle d-flex flex-column min-vh-100">
  <%- include ('../partials/navbar') %>
  <div class="container wrapper flex-grow-1">
    <div class="jumbotron text-center mdb-color lighten-4 mt-5">
      <h2 class="card-title h2 lang" key="error">Error</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 pb-2">
          <p class="card-text">
            <%= error %>
          </p>
          <p> <a href="/movies" class="lang" key="homeMsg">Home</a></p>
        </div>
      </div>
    </div>
  </div>
  <%- include ('../partials/scripts.ejs') %>
  <%- include('../partials/footer.ejs') %>
</body>

</html>