<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<link type="text/css" rel="stylesheet" href='/css/styles/auth.css'>


<body class="backStyle d-flex flex-column min-vh-100">
  <div class="container wrapper flex-grow-1">
    <div class="overlay">
      <div class="row ">
        <div class="col-sm-3 col-md-3 col-lg-2 mt-1 ml-0 ">
          <a href="/">
            <img class=" img-fluid" src="/images/logo.png" alt="hypertube">
        </a>
        </div>
        <div class="languages mr-1  text-light">
          <a class="translate" id="en">en</a>
          |
          <a class="translate" id="fr">fr</a>
        </div>
      </div>
      <% if(typeof errors != 'undefined'){ %>
      <% for(let i=0; i<errors.length; i++){ %>
      <div id="errors">
        <div class="card">
          <div class="card-body danger-color">
            <%= errors[i] %>
          </div>
        </div>
      </div>

      <% } %>
      <% } %>

      <% if(typeof result != 'undefined'){ %>
      <div id="result">
        <div class="card">
          <div class="card-body success-color">
            <%= result %>
          </div>
        </div>
      </div>
      <% } %>
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card card-body  mt-5">
            <!-- Form -->
            <form class="form-holder text-center" style="color: #757575;" action="/users/forgot" method="POST">
              <!-- E-mail -->
              <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" class="form-control" name="email">
                <label for="materialRegisterFormEmail" class="lang" key="email">E-mail</label>
              </div>
              <!-- Sign up button -->
              <button class="btn text-light mdb-color darken-3 btn-rounded lang" key="reset">
                reset
              </button>

            </form>
            <!-- Form -->
          </div>
        </div>
      </div>
    </div>

  </div>
  <%- include ('../partials/scripts.ejs') %>
  <%- include ('../partials/footer.ejs') %>
  <script>
    setTimeout(function () {
      if ($('#errors').length > 0) {
        $('#errors').remove();
      }
      if ($('#result').length > 0) {
        $('#result').remove();
      }
    }, 5000)
  </script>
</body>

</html>