<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles/homeStyle.css">
  </head>
  <body class="backStyle d-flex flex-column min-vh-100">
    <%- include ('../partials/navbar') %>
    <div class="container wrapper flex-grow-1">

      

      <% if (typeof error !== 'undefined' && typeof error.error !== 'undefined') { %>
        <h2 class="red-text mt-5 text-center"><%= error.error %></h2>
      <% } %>

      <ul class="nav md-pills nav-justified mb-4">
        <li class="nav-item pl-0">
          <a class="nav-link active lang" data-toggle="tab" href="#panel104" role="tab" key="favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lang" data-toggle="tab" href="#panel105" role="tab" key="watchlist">WatchList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lang" data-toggle="tab" href="#panel106" role="tab" key="watched">Watched</a>
        </li>
      </ul>

      <div class="tab-content card white-text">
        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel104" role="tabpanel">
          <!-- movies row -->
          <div class="row">
            <!-- row -->
            <!-- Movie tumbnail -->
            <% if (favorites) { %> <% favorites.forEach(function(movie){ %>
              <!-- News jumbotron -->
              <div class="jumbotron stylish-color text-center p-4">
                <!-- Grid row -->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- Featured image -->
                    <div class="view overlay d-flex justify-content-center">
                      <img
                        src="<%= favorites && movie.poster %>"
                        class="img-fluid"
                        alt="<%=  favorites && movie.title %>"
                      />
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-7 text-md-left ml-3 mt-3">
                    <!-- Excerpt -->
                    <a href="<%=  favorites && movie.imdburl %>" target="_blank" class="cyan-text">
                      <h3 class="h3 pb-1"><%= favorites && movie.title %></h3>
                    </a>
                    <h4 class="h4 mb-4 text-white">
                      (<%= favorites && movie.year %>) <i class="fas fa-star yellow-text"></i> <%=
                      favorites && movie.rating %>
                    </h4>
                    <p class="font-weight-normal text-white"> <%= favorites && movie.plot %></p>
                    <p class="font-weight-normal text-white">
                      <a><strong>Actors: </strong></a
                      ><%= favorites && movie.actors %>
                    </p>
                    <a
                      class="btn btn-warning"
                      href="<%=  favorites && movie.imdburl %>"
                      target="_blank"
                      >More Info</a
                    >
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
              <!-- News jumbotron -->
              <% }); %> <% } %>



            <% if(typeof favorites !== 'undefined' && favorites.length > 0) { 
                favorites.forEach(movie => { %>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
              <div class="card collection-card">
                <div class="view zoom">
                  <img class="img-fluid" src="<%= movie.large_cover_image || movie.image %>" alt="<%= movie.title %>" />
                  <div class="stripe dark">
                    <a href="/movies/watch/<%= movie.id %>" class="stretched-link">
                      <strong>
                        <p><%= (typeof movie.title !== 'undefined') ? movie.title : '' %></p>
                      </strong>
                      <p>(<%= (typeof movie.year !== 'undefined') ? movie.year : '' %>) <i class="fas fa-star"></i>
                        <%= (typeof movie.rating !== 'undefined') ? movie.rating : '' %></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% });} %>
              <% if (typeof error !== 'undefined') { %>
                <% if (typeof error.noFavorites !== 'undefined')  { %>
            <div class="col-sm-12 p-3">
              <div class="text-center">
                <i class="fas fa-frown fa-2x"></i>
                  <p><strong ><%= error.noFavorites %></strong></p>
              </div>
            </div>
            <% }} %>
          </div>


        </div>
        <!--Panel 2-->
        <div class="tab-pane fade in" id="panel105" role="tabpanel">
           <!-- movies row -->
           <div class="row">
            <!-- row -->
            <!-- Movie tumbnail -->
            <% if(typeof watchlist !== 'undefined' && watchlist.length > 0) { 
                watchlist.forEach(movie => { %>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
              <div class="card collection-card">
                <div class="view zoom">
                  <img class="img-fluid" src="<%= movie.large_cover_image || movie.image %>" alt="<%= movie.title %>" />
                  <div class="stripe dark">
                    <a href="/movies/watch/<%= movie.id %>" class="stretched-link">
                      <strong>
                        <p><%= (typeof movie.title !== 'undefined') ? movie.title : '' %></p>
                      </strong>
                      <p>(<%= (typeof movie.year !== 'undefined') ? movie.year : '' %>) <i class="fas fa-star"></i>
                        <%= (typeof movie.rating !== 'undefined') ? movie.rating : '' %></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% });} %>
              <% if (typeof error !== 'undefined') { %>
                <% if (typeof error.noWatchlist !== 'undefined')  { %>
            <div class="col-sm-12 p-3">
              <div class="text-center">
                <i class="fas fa-frown fa-2x"></i>
                  <p><strong ><%= error.noWatchlist %></strong></p>
              </div>
            </div>
            <% }} %>
          </div>
        </div>
        <!--Panel 3-->
        <div class="tab-pane fade in" id="panel106" role="tabpanel">
           <!-- movies row -->
           <div class="row">
            <!-- row -->
            <!-- Movie tumbnail -->
            <% if(typeof watched !== 'undefined' && watched.length > 0) { 
                watched.forEach(movie => { %>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
              <div class="card collection-card">
                <div class="view zoom">
                  <img class="img-fluid" src="<%= movie.large_cover_image || movie.image %>" alt="<%= movie.title %>" />
                  <div class="stripe dark">
                    <a href="/movies/watch/<%= movie.id %>" class="stretched-link">
                      <strong>
                        <p><%= (typeof movie.title !== 'undefined') ? movie.title : '' %></p>
                      </strong>
                      <p>(<%= (typeof movie.year !== 'undefined') ? movie.year : '' %>) <i class="fas fa-star"></i>
                        <%= (typeof movie.rating !== 'undefined') ? movie.rating : '' %></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% });} %>
              <% if (typeof error !== 'undefined') { %>
                <% if (typeof error.noWatched !== 'undefined')  { %>
            <div class="col-sm-12 p-3">
              <div class="text-center">
                <i class="fas fa-frown fa-2x"></i>
                  <p><strong ><%= error.noWatched %></strong></p>
              </div>
            </div>
            <% }} %>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partials/scripts.ejs') %> 
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
