<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<link type="text/css" rel="stylesheet" href='/css/styles/auth.css'>

<body class="backStyle d-flex flex-column min-vh-100">
  <div class="container wrapper flex-grow-1">
    <div class="overlay">
      <div class="row ">
        <div class="col-sm-3 col-md-3 col-lg-2 mt-1 ml-0 ">
          <a href="/">
            <img class=" img-fluid" src="https://fontmeme.com/permalink/200407/8813e43dda033418cb115fcdf3d3cb95.png" alt="netflix-font">
        </a>
        </div>
        <div class="languages mr-1  text-light">
          <a class="translate" id="en">en</a>
          |
          <a class="translate" id="fr">fr</a>
        </div>
      </div>
      <% if(typeof error != 'undefined'){ %>
      <div id="errors">
        <div class="card">
          <div class="card-body danger-color">
            <%= error %>
          </div>
        </div>
      </div>
      <% } %>

      <% if(typeof success != 'undefined'){ %>
      <div id="result">
        <div class="card">
          <div class="card-body success-color">
            <%= success %>
          </div>
        </div>
      </div>
      <% } %>
      <% if (typeof token !== 'undefined'){ %>
      <div class="row">
        <div class="col-md-8 mx-auto mt-5">
          <div class="card card-body  mt-5">
            <!-- Form -->
            <form class="form-holder text-center" style="color: #757575;" action="/users/reset/<%= token %>"
              method="POST">
              <!-- Password -->
              <div class="md-form">
                <input type="password" id="materialRegisterFormPasswordSignUp" name="password" class="form-control"
                  aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword" class="lang" key="password">Password</label>
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4 lang"
                  key="at-least-8-characters-and-1-digit">
                  At least 8 characters and 1 digit
                </small>
              </div>

              <!-- Confirm Password -->
              <div class="md-form">
                <input type="password" id="materialRegisterFormPasswordSignUpConfirm" name="confirm"
                  class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword" class="lang" key="confirm-password">Confirm Password</label>
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4 lang"
                  key="at-least-8-characters-and-1-digit">
                  At least 8 characters and 1 digit
                </small>
              </div>
              <!-- Sign up button -->
              <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                                      type="submit">Sign in</button> -->
              <button class="btn text-light mdb-color darken-3 btn-rounded lang" key="reset">
                reset
              </button>

            </form>
            <!-- Form -->
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <%- include ('../partials/scripts.ejs') %>
  <%- include ('../partials/footer.ejs') %>
  <script>
    setTimeout(function () {
      if ($('#errors').length > 0) {
        $('#errors').remove();
      }
      if ($('#result').length > 0) {
        $('#result').remove();
      }
    }, 5000)
  </script>
</body>

</html>