<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include ('../partials/head.ejs') %>
      <link href="https://vjs.zencdn.net/7.7.6/video-js.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/styles/homeStyle.css">
    </head>
<body class="backStyle d-flex flex-column min-vh-100">
    <%- include ('../partials/navbar') %>

    <div class="player" id="<%= movie.imdb_code %>">
        <div class="card card-image" style="background-image: url('<%= movie.large_cover_image %>');">
          <div id="<%= movie.id %>" class="card-body rgba-black-strong videoContainer">
            <div class="container flex-center text-center">
              <!-- <div id="moviePlayer" class="embed-responsive embed-responsive-21by9">
                <video 
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                fluid= true
                poster="<%= movie.large_screenshot_image1 %>"
                data-setup="{}"
                >
                <source src="http://localhost:3000/movies/watch/<%= movie.id %>?hash=<%= source %>" type="video/mp4" />
                <source src="http://localhost:3000/movies/watch/<%= movie.id %>?hash=<%= source %>" type="video/webm" />
              </video>
              </div> -->
              </div>
          </div>
        </div>
    </div>

    <div class="container wrapper flex-grow-1">
      <!-- Torrents list -->
      <!-- Button trigger modal-->
      <div class="text-center">
          <button type="button" class="btn mdb-color btnColor btn-rounded mb-4"  data-toggle="modal" data-target="#modalTorrents">
              <i class="fas fa-sliders-h"></i>&nbsp;<span class="lang" key="ChooseTorrents">Select your torrent</span>
          </button>
      </div>

      <div class="modal fade w-100" id="modalTorrents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-lg" role="document">
          <div class="modal-content backStyle">
            <div class="modal-header mdb-color modalBtnColor">
              <h4 class="title"><i class="fas fa-film"></i>&nbsp;<span class="lang"
                  key="ChooseTorrents">Select your torrent</span></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
           
            <div class="modal-body mx-3">
              <div class="row">
                <!-- YTS Torrents -->
                <div class="col-md-6 text-center">
                  <h5>YiFy Torrents</h5>
                    <% if (movie.YTS && movie.YTS.length > 0) { %>
                      <% movie.YTS.forEach(function(element){ %>
                          <% if (element.type && element.quality) { %>
                            <button id="<%= element.hash %>" onclick="loadTorrent(this.id)" class="btn modalBtnColor white-text btn-block p-2 m-1"><%= element.quality + ' - ' + element.type %></button>
                          <% } %>
                        <% }); %>
                    <% } %>
                </div>
                <!-- LEETx Torrents -->
                <div class="col-md-6 text-center">
                  <h5>1337x Torrents</h5>
                    <% if (movie.LEETx && movie.LEETx.length > 0) { %>
                      <% movie.LEETx.forEach(function(element){ %>
                        <% if (element.title && element.size) { %>
                          <button id="<%= element.hash %>" onclick="loadTorrent(this.id)" class="btn modalBtnColor white-text btn-block p-2 m-1"><%= element.title + ' - ' + element.size %></button>
                        <% } %>
                        <% }); %>  
                    <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Movie Infos Box -->
            <div class="movie m-3">
              <!-- Movie Infos -->
              <div class="row tab-content">
                <div class="mx-2 mt-3 col col-sm-6 col-md-4 col-lg-4">
                  <img
                      class="img-fluid"
                      src="<%= movie.large_cover_image %>"
                      alt="Poster"
                      />
                </div>
                <div class="col-md-6 col-sm-12 col-md-7 col-lg-7">
                  <div class="card bg-transparent shadow-none ">
                    <div class="card-body text-justify">

            
                        <button name="<%= movie.imdb_code %>" onclick="addToFavorites(this.name)" class="btn text-light mdb-color <%= (user.inFavorites === 1) ? 'btnColorTeal' : 'btnColorGrey' %>  btn-rounded favoriteBtn">
                          <i class="fas fa-star"></i>
                        </button>
                        <button name="<%= movie.imdb_code %>" onclick="addToWatchList(this.name)" class="btn text-light mdb-color <%= (user.inWatchlist === 1) ? 'btnColorTeal' : 'btnColorGrey' %> btn-rounded watchlistBtn">
                          <i class="fas fa-bookmark"></i>
                        </button>
                        <button name="<%= movie.imdb_code %>" onclick="addToWatched(this.name)" class="btn text-light mdb-color <%= (user.inWatched === 1) ? 'btnColorTeal' : 'btnColorGrey' %> btn-rounded watchedBtn">
                          <i class="fas fa-eye"></i>
                        </button>
                                            
                                        
                      <h2><p class="font-weight-bold"><%= movie.title_english %>&nbsp;(<%= movie.year %>)</p></h2>
                      <p style="font-size: medium;"><i class="fas fa-star" style="color: yellow;"></i>&nbsp;<span style="font-size: large;"><%= movie.rating %></span>/10</p>
                      <p><%= movie.description_full %></p>
                      <p ><span class="lang font-weight-bold" key="film-quality">MPA Rating</span> : <%= movie.mpa_rating %></p>
                      <p  ><span class="lang font-weight-bold" key="category">Genres</span> :
                        <% if (typeof movie.genres !== 'undefined') { for(let i=0; i < movie.genres.length; i++){ %>
                        <%= movie.genres[i] %> 
                        <%= (i === movie.genres.length - 1) ? '.' : ' - ' %>
                    <% }} %> </p>
                    <% if (typeof movie.cast !== 'undefined') { %>
                    <p class="font-weight-bold lang" key="actors">Cast</p>
                    <p><% for(let i=0; i<movie.cast.length; i++){ %>
                      <img
                      class="img-fluid small_avatar rounded-circle ml-2"
                      style="height: 10%; width: 10%;"
                      src="<%= movie.cast[i].url_small_image || '/images/default-profile.png' %>"
                      alt="<%= movie.cast[i].name %>" data-toggle="tooltip" data-placement="bottom"
                      title="<%= movie.cast[i].name + ' (' + movie.cast[i].character_name + ')' %>"
                      />
                  <% } %></p>
                  <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Movie Comments -->
              <div class="row tab-content mt-4">
                 <!-- Add New Comment -->
                <div class="mx-2 mt-3 col col-sm-12 col-md-12 col-lg-12 media">
                <div class="row media-body">
                  <div class="col col-sm-6 col-md-8 md-form">
                      <textarea id="myComment" class="md-textarea form-control black-text" style="resize: none;" name="comment" rows="1"></textarea>
                  </div>
                  <div class="col col-md-4 col-lg-4 col-sm-6">
                    <button type="button" onclick="postComment()" class="btn mdb-color btnColor btn-rounded mt-5"><i class="fas fa-comment"></i></button>
                  </div>
                </div>
                </div>
                
                <hr class="my-4 mdb-color lighten-1"/>
                <!-- Comments  -->    
                <div class="col-sm-12 justify-content-center">
                    <!-- List of comments -->
                    <div class="row d-flex" >
                      <ul class="list-unstyled" id="commentsContainer">

                      </ul>
                    </div>
                </div>
                <!-- End Comments  -->
              </div>
               
          </div>
        </div>
    <%- include ('../partials/scripts.ejs') %> 
    <%- include('../partials/footer.ejs') %>
    <script>
      // Tooltips Initialization
      $(function () {
         $('[data-toggle="tooltip"]').tooltip()
       })
   </script>
   <!-- <script src="https://vjs.zencdn.net/7.7.6/video.js"></script>
   <script src="/js/video/player/lang/fr.js"></script>
   <script src="/js/video/playerSettings.js"></script> -->
    <script>

      async function addToFavorites(id){
        if(!id)
          return
        await axios.post('/movies/'+ id +'/favorites').then((res) => {
          if(res.data && res.data.Message){
            document.getElementsByName(id)[0] && document.getElementsByName(id)[0].classList.replace('btnColorGrey', 'btnColorTeal');
            return toastr.success(res.data.Message);
          }
          else
            return toastr.error(res.data.error);
        }).catch(e => {
          return toastr.error(e);
        })
      }

      async function addToWatchList(id){
        if(!id)
          return
        await axios.post('/movies/'+ id +'/watchlist').then((res) => {
          if(res.data && res.data.Message){
            document.getElementsByName(id)[1] && document.getElementsByName(id)[1].classList.replace('btnColorGrey', 'btnColorTeal');
            return toastr.success(res.data.Message);
          }
          else
            return toastr.error(res.data.error);
        }).catch(e => {
          return toastr.error(e);
        })
      }
      async function addToWatched(id){
        if(!id)
          return
        await axios.post('/movies/'+ id +'/watched').then((res) => {
          if(res.data && res.data.Message){
            document.getElementsByName(id)[2] && document.getElementsByName(id)[2].classList.replace('btnColorGrey', 'btnColorTeal');
            return toastr.success(res.data.Message);
          }
          else
            return toastr.error(res.data.error);
        }).catch(e => {
          return toastr.error(e);
        })
      }

      function getComments(){
        var id = document.getElementsByClassName('player')[0] && document.getElementsByClassName('player')[0].id
        var commentsContainer = document.getElementById('commentsContainer')
        axios.get('/comments/view/'+ id+'').then((res) => {
            if(res.data && Array.isArray(res.data) && commentsContainer)
              res.data.forEach(element => {
                if(element.userId && element.profileImg && element.username && element.content)
                  commentsContainer.innerHTML += '\
                  <li class="media mt-2">\
                  <a href="/users/view/'+element.userId+'">\
                  <img class="rounded-circle small_avatar d-flex mr-3" src="'+ element.profileImg +'"\"\
                  alt="Avatar" style="height: auto; width: 50px;">\
                  </a>\
                  <div class="media-body">\
                    <h5 class="mt-0 font-weight-bold black-text">'+ element.username +'</h5>\
                    <h6 class="mt-0 black-text">'+ element.date +'</h6>\
                    <p class="text-break">'+ element.content+'</p>\
                  </div>\
                  </li>'
              });
        }).catch(e => {
          return toastr.error(e);
        })
      }

      getComments()

      function postComment(){
        var id = document.getElementsByClassName('player')[0] && document.getElementsByClassName('player')[0].id
        var comment = document.getElementById('myComment') &&  document.getElementById('myComment').value
        var commentsContainer = document.getElementById('commentsContainer')
        const data = {
          comment
        }
        
        axios.post('http://localhost/comments/add?imdb='+id+'', data)
            .then((res) => {
                if(res && res.data && res.data.error)
                    toastr.error(res.data.error);
                if(res && res.data && res.data.content && res.data.username && res.data.profileImg){
                  commentsContainer.innerHTML = ''
                  document.getElementById('myComment').value = ''
                  getComments()
                }                 
            }).catch(e => {
                    toastr.error('Something Went Wrong');
            })
      }
</script>
</body>
</html>